<div class="m-auto">
  <div class="flex">
    <div class="w-2/6 p-4">
      <%= turbo_frame_tag "new-exam" do %>
        <%= button_to "New Exam", new_admin_exam_path, class: "btn btn-primary mb-4", method: "get" %>
      <% end %>
      <div id="exam-list" class="grid gap-2">
        <%= render partial: "list_item", collection: @exams, as: :exam, locals: { current_exam: @exam } %>
      </div>
    </div>
    <div class="w-4/6 min-h-screen overflow-hidden border-l p-4">
    </div>
  </div>
</div>
