<div class="container m-auto py-4">
  <div class="flex gap-8">
    <div class="w-1/6">
      <div class="px-4 py-2 bg-blue-500 text-white">
        Exam
      </div>
    </div>
    <div class="w-2/6 grid gird-cols-1 gap-4">
      <% @exams.each do |exam| %>
        <div class="border p-4">
          <div class="flex justify-between">
            <div class="text-xs text-gray-400">
              <%= exam.id %>
            </div>
            <%= link_to "View", exam_test_path(exam_id: exam.id, id: exam.tests.first.id), class: "text-xs text-blue-500" %>
          </div>
          <div class="text-sm">
            <span>Examinee: </span><span><%= exam.user_full_name %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
