<div class="m-auto">
  <div class="flex">
    <div class="w-1/6 p-4">
      <div class="px-4 py-2 bg-blue-500 text-white">
        Exam
      </div>
    </div>
    <div class="w-2/6 p-4">
      <% @exams.each do |exam| %>
        <%= link_to admin_exam_path(exam) do %>
          <div class="border p-4 h-fit">
            <div class="flex justify-between">
              <div class="text-xs text-gray-400">
                <%= exam.id %>
              </div>
            </div>
            <div class="text-sm">
              <span>Examinee: </span><span><%= exam.user_full_name %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="w-3/6 min-h-screen overflow-hidden border-l p-4">
    </div>
  </div>
</div>
