<% if @answer.errors %>
  <div id="code-editor-status" data-code-editor-target="status" class="text-xs bg-red-200 py-2 px-4 absolute right-0 z-50">
    <%= @answer.errors.full_messages.join() %>
  </div>
<% else %>
  <div id="code-editor-status" data-code-editor-target="status" class="text-xs bg-gray-200 py-2 px-4 absolute right-0 z-50">
    <%= status %>
  </div>
<% end %>
