@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-8 rounded text-sm;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }

  .btn-success {
    @apply bg-green-500 hover:bg-green-700 text-white;
  }  

  .btn[disabled=disabled] {
    @apply cursor-not-allowed opacity-25;
  }

  .bg-primary {
    @apply bg-blue-700;
  }
}


button                  .show-when-disabled { display: none; }
button[disabled]        .show-when-disabled { 
  @apply cursor-not-allowed opacity-25;
  display: initial; 
}

button                  .show-when-enabled { display: initial; }
button[disabled]        .show-when-enabled { display: none; }
