<div id="sidebar" class="p-4 h-screen border-r w-48">
  <%= active_link_to "Exam", admin_exams_path, class: "text-sm text-gray-600 block p-2" %>
  <%= active_link_to "Test", admin_tests_path, class: "text-sm text-gray-600 block p-2" %>
</div>
