<div id="sidebar" class="p-4 h-screen border-r grid gap-2 w-48">
  <%= active_link_to "Exam", admin_exams_path, class: "text-sm text-gray-600 block" %>
  <%= active_link_to "Test", admin_tests_path, class: "text-sm text-gray-600 block" %>
</div>
